appdirs==1.4.3
astroid==2.3.2
attrs==19.3.0
autopep8==1.4.4
black==19.10b0
Click==7.0
colorama==0.4.1
Flask==1.1.1
Flask-Login==0.4.1
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mysqlclient==1.4.5
numpy==1.17.4
pandas==0.25.3
pathspec==0.6.0
pdfkit==0.6.1
pycodestyle==2.5.0
pylint-flask-sqlalchemy==0.1.0
python-dateutil==2.8.1
pytz==2019.3
regex==2019.11.1
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.0
Werkzeug==0.16.0
wrapt==1.11.2
